h1{
    text-align: center;
    font-size: 300%
}
h2{
    text-align: center;
}
div.population_line{
    position: fixed;
    right:5%;
    top: 14%;
}
div.years_buttons{
    position: fixed;
    top: 20%;
    left: 1%;
}
div.years_buttons div{
    background-color: BurlyWood;
    opacity: .9;
    border: 2px;
    border-radius: 7px;
    color: black;
    padding: 5px;
    margin: 15px;
    font-weight: bold;
}
g.legend{
    position: fixed;
    top: 25%;
    left: 14%;
}
.x_axis line{
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: auto;
}
.x_axis text{
    font-family: sans-serif;
    font-size: 12px;
}
.y_axis line{
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: auto;
}
.y_axis text{
    font-family: sans-serif;
    font-size: 12px;
}
#county_instruction{
    opacity: .9;
    position: fixed;
    right:4%;
    top: 25%;
    background-color: BurlyWood;
    border: 2px;
    border-radius: 7px;
    padding: 15px;
    margin: 35px;
}
.county_info_buttons{
    position: fixed;
    top: 86%;
    right: 8%;
}
.county_info_buttons div{
    background-color: BurlyWood;
    opacity: .9;
    border: 2px;
    border-radius: 7px;
    float: left;
    color: black;
    padding: 5px;
    margin: 15px;
    font-weight: bold;
}
.county_info_buttons2{
    position: fixed;
    top: 92%;
    right: 3%;
}
.county_info_buttons2 div{
    background-color: BurlyWood;
    opacity: .9;
    border: 2px;
    border-radius: 7px;
    float: left;
    color: black;
    padding: 5px;
    margin: 15px;
    font-weight: bold;
}
.iltf_logo{
    position: fixed;
    top: 1%;
    left: 1%;
    width: 235px;
    height: 50px;
}
